/* Variables CSS */
:root {
    --primary-color: #1600c9;
    --secondary-color: #fc4b04;
    --accent-color: #ffffff;
    --text-color: #000000;
    --background-color: #f5f5f5;
    --hover-color: #ffcc00;
}

/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header y Navbar */
.header {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.header .logo img {
    max-height: 50px;
}

.header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .navbar li {
    margin: 0 20px;
}

.header .navbar a {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, background-color 0.3s;
}

.header .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--accent-color);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.header .navbar a:hover::after {
    width: 100%;
    left: 0;
    background: var(--hover-color);
}

.header .navbar a:hover {
    color: var(--hover-color);
}

.header .search-form {
    display: flex;
    align-items: center;
}

.header .search-form input[type="search"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.header .search-form button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header .search-form button:hover {
    background-color: var(--secondary-color);
}

/* Estilos para el slideshow */
.slideshow .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow .mySlides {
    display: none;
}

.slideshow .mySlides img {
    width: 100%;
    border-radius: 10px;
}

.slideshow .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}

.slideshow .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

/* Controles de navegación */
.slideshow .prev,
.slideshow .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slideshow .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow .prev:hover,
.slideshow .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Indicadores de diapositivas */
.slideshow .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow .active,
.slideshow .dot:hover {
    background-color: #717171;
}

/* Slideshow de productos destacados */
.slideshow {
    margin-top: 20px;
}

/* Estilos para las secciones destacadas */
.featured-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featured-section .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.featured-section .grid-item {
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.featured-section .grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.featured-section .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.featured-section .cta-button:hover {
    background-color: var(--secondary-color);
}

/* Estilo responsivo */
@media only screen and (max-width: 768px) {
    .slideshow .prev,
    .slideshow .next,
    .slideshow .text {
        font-size: 11px
    }

    .header .navbar {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .header .navbar ul {
        flex-direction: column; /* Cambia la dirección a vertical */
        padding: 10px 0; /* Agrega un padding superior e inferior */
    }

    .header .navbar li {
        margin: 5px 0; /* Ajusta el margen superior e inferior */
    }

    .featured-section .grid {
        gap: 10px; /* Reduce el espacio entre los elementos */
    }

    .featured-section .grid-item {
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
    }
}

.galeria-container {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; /* Desplazamiento suave */
  }
  
  .galeria-item {
    min-width: 300px; /* Ajusta el ancho mínimo de las imágenes */
    margin-right: 20px;
  }
  
  .galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .banner {
    position: relative;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; 
  }