/* Variables CSS */
:root {
    --primary-color: #1600c9; /* Nuevo color */
    --secondary-color: #4caf50; /* Verde */
    --accent-color: #ffeb3b; /* Amarillo */
    --text-color: #333333; /* Gris oscuro */
    --background-color: #f5f5f5; /* Gris claro */
}

/* Estilos Generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header y Navbar */
header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #e0e0e0; /* Gris claro */
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #1e88e5; /* Azul profundo */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--primary-color);
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.logo-letter {
    color: var(--accent-color);
}

/* Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--secondary-color);
}

/* Hero */
.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
}

.hero h1, .hero h2, .hero p {
    margin: 0 0 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

/* Secciones */
.seccion {
    padding: 50px 20px;
}

#1600c9

/* Footer */
footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
}

/* Otros estilos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-post {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}